:root {
    --main-color: #DF6751;
}

body {
    font-family: 'Russo One', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Start Header */
header {
    background-image: url("../data/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    border: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

header .icon {
    width: 220px;
    position: relative;
    z-index: 1;
    top: 25px;
    left: 40px;


}

header h1 {
    color: white;
    position: absolute;
    display: block;
    z-index: 1;
    font-size: x-large;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    font-size: 65px;
    text-align: center;
    margin: 0;
    padding: 0;
}

header .ico {
    width: 500px;
    height: 75px;
    position: absolute;
    z-index: 1;
    bottom: 70px;
    left: 34%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header svg {
    font-size: 60px;

    color: var(--main-color);
}

header button {
    color: white;
    background-color: var(--main-color);
    border-radius: 15px;
    border: none;
    padding: 10px 25px;
}

header .ico .stgro {

    display: flex;
    align-items: center;
}

header .ico .stgro .fa-star {
    font-size: 14px;
}

header .ico .stgro .l {
    color: var(--main-color);

}

/* End Header */
/* Start Main */


main .main-title {
    margin: 30px auto 40px;
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    transition: 0.5s;
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;

}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50.5%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50.5%;
        height: 100%;
    }
}

.best {
    width: 75%;
    display: flex;
    margin: 0 auto 70px;
}

.swiper {
    width: 100%;
}

.swiper::before {
    left: 0;
}

.swiper::after,
.swiper::before {

    content: '';
    width: 20%;
    position: absolute;
    top: 0;
    background-color: #ffffffb8;
    z-index: 2;
    height: 280px;

}

.swiper::after {
    right: 0;

}

.swiper .swiper-slide {

    border-radius: 30px;
}

.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after,
.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
    content: '' !important;
}

.swiper .ri,
.swiper .le {
    font-size: 44px;
}

.swiper .le {
    padding-left: 200px;
}

.swiper .ri {
    padding-right: 200px;
}

.swiper svg {
    color: var(--main-color) !important;

}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 280px;
}

.card:hover {
    background: #FFFFFF;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 55%;
    height: 120px;
}

.card .pr {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card p {
    font-size: 13px;
    color: #333;
}

.card button {
    border: none;
    border-radius: 25px;
    background-color: var(--main-color);
    color: white;
    padding: 3px 10px;
    font-weight: bold;
    transition: 0.5s;
}

.card button:hover {
    background-color: black;
}

.swiper-pagination {
    bottom: 0;
    position: relative;
}

.swiper-pagination-bullet {

    width: 6px !important;
    height: 6px !important;
    background-color: var(--main-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color) !important;

    width: 9px !important;
    height: 9px !important;

}

.swiper-2 {

    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

}

/* End Main */
/* Start Footer */
footer {
    width: 100%;
    position: relative;
    margin-top: 80px;
    text-align: center;
    height: 350px;
}

footer h5 {
    font-size: 25px;
    color: var(--main-color);
    position: absolute;
    left: 30%;
}

footer h4 {
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 450px;
    line-height: 1.8;
    transform: translate(-55%, -50%);
}

footer img {
    width: 20%;
    position: absolute;
    right: 130px;
    top: 0;
}

/* End Footer */